
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script type="text/javascript" src="js/form.js" defer></script>
    <title>Author Page</title>
</head>
<body>
    <nav class="top_menu">
        <ul>
          <li>
            <a href="/">Enquiry Form</a>
        </li>
        <li>
          <a href="/author">Author</a>
      </li>
        </ul>
    </nav>

    <section class="main">
        <div class="formData">
            <p>This website was built using the following technologies:</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Js</li>
                <li>Node.js</li>
                <li>Express</li>
                <li>EJS</li>
            </ul>
        </div>
      </section>
    
      <section class="main">
        <div class="formData">
          <p>Built By:</p>
          <ul>
              <li>name: <%= Divya_Tanwar %> </li>
              <li>studentNumber: <%= 8341091 %> </li>
          </ul>
        </div>
      </section>
</body>
</html>